[class*="col-"]>div {
    padding-top: 10px;
    padding-bottom: 10px;
}

.rightbar li {
    display: inline-block;
    list-style-type: none;
    float: right;
}



.icon-space{
    text-align: center;
}
img{
    height: 400px;
    
}
#stella{
    margin: 10px;
    text-align: center;
}

.white{
    color: white;
}
.black{
    color: black;
}



/* main  */
.casa{
    background-image: url(img/cabin.png);
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    
}
.torta{
    background-image: url(img/cake.png);
    background-size: cover;
    background-position: center;
}
.circo{
    background-image: url(img/circus.png);
    background-size: cover;
    background-position: center;
}
.pad{
    background-image: url(img/game.png);
    background-size: cover;
    background-position: center;
}
.cassaforte{
    background-image: url(img/safe.png);
    background-size: cover;
    background-position: center;
}
.sottomarino{
    background-image: url(img/submarine.png);
    background-size: cover;
    background-position: center;
}

h2{
    text-align: center;
}

/* ABOUT US  */
.aboutus{
    background-color: #30BC9B;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    padding: 20px;
}

.text-about{
    font-size: 50px;
    text-align: center;
}

.text{
    padding: 20px;
    text-align: center;
}
.white-text {
    color: white;
}

/* bottone download */
.btn-download{ 
    border: 1px solid white;
    background-color: #30BC9B;
    text-align: center;
}

/* footer */

#container-contact{
    background-color: lightblue;
}

   

#about-us{
    background-color: rgb(60, 111, 189);
    color: white;
}

#portfolio div[class^="col-"] {
    height: 300px;
    border: 10px solid white;
    font-size: 20px;
    text-align: center;
}